{
  presets: [
    "@babel/preset-flow",
    [
      "@babel/preset-env",
      {
        debug: true,
        useBuiltIns: "usage",
        include: ["es7.promise.finally", "es7.symbol.async-iterator", "es6.array.sort"],
        targets: {
          node: "8.10"
        }
      }
    ]
  ],
  plugins: ["@babel/plugin-proposal-class-properties", "@babel/plugin-transform-runtime"]
}
