{
	"presets": [
		"@babel/preset-flow",
		[
			"@babel/preset-env",
			{
				"cacheDirectory": true,
				"useBuiltIns": "usage",
				"targets": {
					"node": "6.10"
				}
			}
		],
		"@babel/preset-stage-0"
	],
	"plugins": ["transform-optional-chaining"]
}
