{
  presets: [
    '@babel/preset-flow',
    [
      '@babel/preset-env',
      {
        debug: true,
        useBuiltIns: 'usage',
        shippedProposals: true,
        corejs: '3',
        targets: {
          node: '8.10',
        },
      },
    ],
  ],
  plugins: ['@babel/plugin-transform-runtime'],
}
