{
  "parser": "babel-eslint",
  "parserOptions": {
    "ecmaVersion": 9,
    "sourceType": "module",
    "allowImportExportEverywhere": true
  },
  "extends": ["eslint:recommended", "plugin:promise/recommended", "plugin:flowtype/recommended"],
  "env": {
    "node": true,
    "es6": true
  },
  "rules": {
    "quotes": [2, "single", "avoid-escape"],
    "arrow-parens": ["off"],
    "comma-dangle": ["error", "always-multiline"],
    "consistent-return": "off",
    "import/no-unresolved": "off",
    "import/no-extraneous-dependencies": "off",
    "import/no-duplicates": "off",
    "import/extensions": "off",
    "import/prefer-default-export": "off",
    "no-console": "off",
    "no-param-reassign": "off",
    "no-restricted-syntax": "off",
    "no-constant-condition": "off",
    "no-confusing-arrow": "off",

    "import/no-cycle": "off",
    "no-continue": "off",

    "no-use-before-define": "off",
    "class-methods-use-this": "off",

    "no-underscore-dangle": "off",

    "no-unused-expressions": "off",
    "flowtype/no-unused-expressions": "error",
    "flowtype/generic-spacing": "off",

    "max-len": [
      "error",
      {
        "code": 100,
        "ignoreComments": true,
        "ignoreStrings": true,
        "ignoreTemplateLiterals": true
      }
    ]
  },
  "plugins": ["flowtype", "promise", "import"]
}
